

@media (max-width: 900px) {
    .carousel {
      object-fit: cover;
    }
}

.thumbnail{

    
    width: 45px;
    height: 45px;
    max-width: 75px;
    max-height: 75px;
    transition: 'contain';
    border-radius: 50%;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

